<%- include('partials/header.ejs') %>

    <div class="container my-5">
        <div class="row">
            <% posts.forEach(post=> { %>
                <div class="col-md-6 mb-4">
                    <div
                        class="row g-0 border rounded overflow-hidden flex-md-row shadow-sm h-md-250 position-relative card-hover">
                        <!-- Text content column -->
                        <div class="col p-4 d-flex flex-column justify-content-between position-static">
                            <div>
                                <h3 class="mb-0">
                                    <%= post.title %>
                                </h3>
                                <div class="mb-1 text-body-secondary">
                                    <%= post.mondate %>
                                </div>
                                <p class="mb-2 truncate-description">
                                    <%= post.description %>
                                </p>
                            </div>
                            <a href="/post/<%= post.id %>" class="icon-link gap-1 icon-link-hover stretched-link">
                                Continue reading
                            </a>
                        </div>

                        <!-- Image column -->
                        <div class="col-auto d-none d-lg-block"> <!-- Hide on mobile -->
                            <img src="<%= post.image %>" class="post-thumbnail" alt="Thumbnail">
                        </div>
                    </div>
                </div>
                <% }) %>
        </div>
    </div>

    <%- include('partials/footer.ejs') %>